{% extends 'default_layout.njk' %}

{% block content %}
  <h1>Data about meteors from NASA</h1>

 {% if wereDangerousMeteors %}
    <h2>Dangerous Meteors</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Diameter (meters)</th>
          <th>Close Approach Date</th>
          <th>Relative Velocity (km/s)</th>
        </tr>
      </thead>
      <tbody>
        {% for meteor in wereDangerousMeteors %}
          <tr>
            <td>{{ meteor.id }}</td>
            <td>{{ meteor.name }}</td>
            <td>{{ meteor.diameter }}</td>
            <td>{{ meteor.closeApproachDate }}</td>
            <td>{{ meteor.relativeVelocity }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No dangerous meteors found.</p>
  {% endif %}

  {% if meteorsData %}
  <h2>Meteors</h2>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>ID</th>
          <th>Name</th>
          <th>Diameter (meters)</th>
          <th>Is Hazardous</th>
          <th>Close Approach Date</th>
          <th>Relative Velocity (km/s)</th>
        </tr>
      </thead>
      <tbody>
        {% for date, meteors in meteorsData %}
          {% for meteor in meteors %}
            <tr>
              <td>{{ date }}</td>
              <td>{{ meteor.id }}</td>
              <td>{{ meteor.name }}</td>
              <td>{{ meteor.diameter }}</td>
              <td>{% if meteor.isHazardous %}Yes{% else %}No{% endif %}</td>
              <td>{{ meteor.closeApproachDate }}</td>
              <td>{{ meteor.relativeVelocity }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No meteor data found.</p>
  {% endif %}


{% endblock %}